nav {
    padding: 0;
    background-color: whitesmoke;
}

.nav-link, li {
    color:rgb(54, 127, 190);
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav-link span:hover {
    color: goldenrod;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    nav {
        height: 0;
        margin: 0 auto;
    }

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        display: block;
    }
    
    .navbar-toggler {
        background-color: rgb(54, 127, 190);
        color: white;
        top: 10px;
        left: 10px;
        position: absolute;
        z-index: 10;
    }

    .navbar-collapse {
        justify-items: left;
    }

    button i {
        font-size: 28px;
    }

    ul {
        position: absolute;
        background-color: whitesmoke;
        padding-top: 50px;
    }

    li {
        text-align: left;
        justify-items: left;
        justify-content: left;
        padding: 5px 0;
    }
}
